<a href="https://colab.research.google.com/github/o001705/IIScProjects/blob/main/PNB_4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

#### Manually Created Functions
Functions are very easy to write in python and all non-trivial programs have functions. Function names have the same rules as variable names.

#### Built in Functions
Python comes with a nice set of built-in functions
The complete set can be seen at:https://docs.python.org/3.6/library/functions.html

We take a look at the most used ones here.

## Manually Created Functions

#### Exercise 01: Build a function that takes the below string as a parameter and returns the words in the given string in backward order.

Hint: [Split the words and join them in the reverse order using ' '.join(iterable)](https://docs.python.org/3/library/stdtypes.html)

In [27]:
string1 = "my name is johnny"

In [32]:
def reverse_string_words(str):
  l = str.split()
  l.reverse()
  return ' '.join(l)
print(reverse_string_words(string1))

johnny is name my

#### Exercise 02: For the given tuple of numbers, do the following:
* Write a function which takes an integer 'N' as a parameter and returns the sum of multiples of 3 or 5 between 0 and N (limit). Where N is any element from the given tuple.
* Print all the sum of multiples for each element from the tuple.
* Example: If we list all the natural numbers less than 10 that are multiples of 3 or 5, we get 3, 5, 6, and 9 and their sum is 23

In [ ]:
tuple2 = (10, 20, 30, 40, 50)

In [34]:
def my_function(N):
  sum = -1
  if (N in tuple2):
    sum = 0
    for i in range(1, N):
      if (i % 3 == 0) or (i % 5 == 0):
        sum = sum + i
  return sum
print(my_function(10))

23

#### Exercise 03: Build a function to print prime numbers within the given range.

In [43]:
limit = 10
def list_prime_numbers(N):
  prime_list = [];
  for number in range(2,N+1):
    is_prime = True;
    for i in range(2, number):
      if (number % i == 0):
        is_prime=False
        break;
    if (is_prime):
      prime_list.append(number)
  return prime_list
list_prime_numbers(limit)

[2, 3, 5, 7]

#### Exercise 4: Rock Paper Scissors: Complete the function below that takes the given input word as a parameter and selects a random element from the words list. It then prints the random word within the function and returns a string, declaring 'win' or 'lose' or 'tie'.

Example: Random input= 'Scissors', User input= Paper, Output = 'lose'

Hint: [random.choice](https://docs.python.org/3/library/random.html)

In [65]:
import random
words = ['Rock','Paper','Scissors']

def game(myinput):
  result = 'Invalid Input'
  random_word = random.choice(words)
  print("Computer Says: ", random_word)
  if (myinput == random_word):
    return 'Tie'
  elif (myinput == 'Rock'):
    if (random_word == 'Paper'):
      result = 'lose'
    else:
      result = 'win'
  elif (myinput == 'Paper'):
    if (random_word == 'Scissors'):
      result = 'lose'
    else:
      result = 'win'
  elif (myinput == 'Scissors'):
    if (random_word == 'Rock'):
      result = 'lose'
    else:
      result = 'win'
  else:
    result = 'Invalid Input'
  return result
  
string1 = "Rock"
print('You: ', game(string1))

Computer Says:  Rock
You:  Tie

## Built-in Functions

#### Exercise 05: Extract maximum value of each element in the given list using the built-in max function.



Hint: [max(iterable)](https://docs.python.org/3/library/functions.html#max)

In [67]:
list1 = [[1,2,4],[5,6],[8,9,12],[21,44],[121]]

In [68]:
for lst in list1:
  print(max(lst))

4
6
12
44
121

#### Exercise 06: For given list *a* and *b* perform the following Aggregate Functions
* len(iterable)
* max(iterable)
* min(iterable)
* sorted(iterable, key, reverse)
* sum(iterable, start)

In [73]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = [5,10, 15, 20, 25, 30, 35, 40, 45, 50]

In [82]:
print(len(a))
print(max(a))
print(min(a))
print(sorted(a,key=None,reverse=True))
print(sum(a))

print(len(b))
print(max(b))
print(min(b))
print(sorted(b,key=None,reverse=True))
print(sum(b))

10
10
1
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
55
10
50
5
[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
275

#### Exercise 07: Print the data type of x, y and z  values

In [83]:
x = 10
print(type(x))

y = 12.6
print(type(y))
  
z = x + y  
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>

Exercise 08:  Initialize the string and perform the following:

1. Check the type of string
2. convert string to int and check the type

In [84]:
a = '1234'
print(type(a))
a = int(a)
print(type(a))

<class 'str'>
<class 'int'>