<a href="https://colab.research.google.com/github/o001705/IIScProjects/blob/main/PNB_5_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

## Strings

A string is a series of characters. In Python, anything inside "quotes" is a string. You can either use 'single quotes' or "double quotes".

For more info, refer [here](https://www.w3schools.com/python/python_strings.asp).

####Exercise 1:

Declare the values of a string variable to be 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'.


Print the string.

In [1]:
# YOUR CODE HERE
str = 'Tests, Quizzes, Individual Labs, Group Labs and Hackathons'
print(str)

Tests, Quizzes, Individual Labs, Group Labs and Hackathons

####Exercise 2:

Declare the values of a string variable to be "I need Tables, Chairs, Cupboards", in double qoutes. 

Print the string.

In [2]:
# YOUR CODE HERE
str1 = "I need Tables, Chairs, Cupboards"
print(str1)

I need Tables, Chairs, Cupboards

####Exercise 3:

Concatenate the two string variables declared in Exercise 1 and Exercise 2.

In [3]:
# YOUR CODE HERE
str + str1

'Tests, Quizzes, Individual Labs, Group Labs and HackathonsI need Tables, Chairs, Cupboards'

####Exercise 4:

Write a short note on any topic in python and print the note using single `print` statement.

In [6]:
# YOUR CODE HERE
note = """This is a note in Python.
Python allows multi line strings in
Triple quotes"""
print(note)

This is a note in Python.
Python allows multi line strings in
Triple quotes

####Exercise 5:

* Concatenate the output of the string in Exercise 3 and output of the string in Exercise 1.
* Print the length of the concatenated string.

In [8]:
# YOUR CODE HERE
print (len(str+str1+str))

148

#### Exercies 6:

Perform simple string operations for A = "Hello", B = "world!":
 * Concatenate by +.
 * Multiple concatenation by *  (ex: 4 * A + " " * 3 + B * 2).
 * Check for substring with `in`.
 * Determine the size (number of characters) using `len`.

In [9]:
# YOUR CODE HERE
A = "Hello"
B = "world!"
print (A + B)
print (4*A + 3*' ' + 2*B)
print ('e' in A)
print(len(B))

Helloworld!
HelloHelloHelloHello   world!world!
True
6

####Exercies 7:

For the given variable name = 'hELLO, WORLD!', perform the following:
* Print the character '!'. 
* Convert the string to lowercase.
* Print the first character in upper case.
* Print a string where all the upper case letters are lower case and vice versa.

In [10]:
name = 'hELLO, WORLD!'
# YOUR CODE HERE
print(name[-1])

!

In [11]:
# The lower() method returns a string converted to lowercase.
# YOUR CODE HERE
print(name.lower())

hello, world!

In [12]:
# YOUR CODE HERE
print(name[0].upper())

H

In [13]:
# YOUR CODE HERE
print(name.swapcase())

Hello, world!

#### Exercies 8:

For a given string, perform the following:
* Using `for` to iterate over a string in Python.
* Print the number of times the letter/character ‘s’ appears in a string.

In [14]:
# YOUR CODE HERE
str = "Apples and Oranges are not same"
for c in str:
  print(c, end=' ')

A p p l e s   a n d   O r a n g e s   a r e   n o t   s a m e

In [19]:
# YOUR CODE HERE
counter = 0
for c in str:
  if (c == 's'):
    counter += 1
print("'s' appears",counter,"times in string")

's' appears 3 times in string

#### Exercies 9:

For a given list, perform the following:

* Print the list in reverse oder.

* Print the following my_list[-1].

* Print the following output  [2, 33, 222, 14] using slice method.

In [20]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[::-1])

[25, 14, 222, 33, 2]

In [21]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
print(my_list[-1])

25

In [24]:
my_list = [2, 33, 222, 14, 25]
# YOUR CODE HERE
x = slice(0, 4, 1)
print (my_list[x])

[2, 33, 222, 14]

#### Exercies 10:

For the given string, perform following methods:

* Split the string by using 'word.split' and print the result.
* Replace MachineLearning by Python using `.replace()`.

In [25]:
# YOUR CODE HERE
str = "This is a Python code snippet"
print(str.split())

['This', 'is', 'a', 'Python', 'code', 'snippet']

In [26]:
# YOUR CODE HERE
print(str.replace('Python', 'MachineLearning'))

This is a MachineLearning code snippet