<a href="https://colab.research.google.com/github/o001705/IIScProjects/blob/main/PNB_3_Loops_and_Iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practice Notebook

Exercise 1:  Write a *while* loop to print numbers from 0 to 10

In [ ]:
index = 0
while index <= 10 :
  print(index)
  index = index + 1

Exercise 2:  Print the first number greater than 100 that is divisible by 17

In [ ]:
index = 100
while (index % 17 != 0 ):
    index = index + 1
print(index)

Exercise 3: Using *for* loop print out the characters of 'Portland'

In [ ]:
for c in 'Portland':
  print(c)

Exercise 4: Do the following:

1. Use a lower bound of 1 and an upper bound of 10 with range to print 1-9
2. Use range with one bound only, the number 10, to print the first ten numbers
3. Use a step increment to count the even numbers through 10

In [ ]:
for x in range(1,10):
  print(x)

In [ ]:
for x in range(10):
  print(x)

In [ ]:
for x in range(0,10,2):
  print(x)

Exercise 5:  print each letter of "Python" three times

In [ ]:
for c in 'Python':
  print(c*3)

Exercise 6: Write a *for* loop for the following

1.  print the squares of numbers from 1 to 10.
2.  iterate over a list of names and print each name
3.  calculate the sum of numbers in a given list.

In [ ]:
for i in range(1,10):
  print(i**2)

In [ ]:
l = ["name-a", "name-b", "name-c", "name-d"]
for name in l:
  print(name)

In [ ]:
l = [2,4,6,3,5,2,8,11,5]
sum = 0
for i in l:
  sum = sum + i
print(sum)

Exercise 7: Write a nested loop to generate multiplication tables for numbers from 1 to 10

In [ ]:
for a in range(1,11):
  for b in range (1,11):
    print (a,'*', b, '=', a*b)
  print("-----------------------------")